/*VARIABLES*/
:root{
    --color-primario: #bf7d19;
    --color-secundario: #E92F3D;
    --color-background-sombra: #c9253330;
    --background-color: #48d0bb;
    --text-color: #07104a;
    --text-family: 'Open Sans';
}

/*Estilos Generales*/
*{
    
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--text-family);
}

html{
    scroll-behavior: smooth; /*transición al bajar a sección*/
}

body{
    background: var(--background-color);
}

.titulos{
    font-size: 40px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 600;
}

.subtitulo{
    font-size: 25px;
    font-weight: 400;
    text-align: center;
    text-transform: uppercase;
    color: var(--color-primario);
}

.btn{
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
    color: #fff;
    background: var(--color-primario);
    font-weight: 700;
    padding: 15px 30px;
    outline: none;
    border: 2px solid var(--color-primario);
    cursor: pointer;
    position: relative;
    top: 20px;
    transition: all 0.3s;
}

.btn:hover{
    padding: 15px 45px;
}

.btn span{
    padding-left: 10px;
}

/*MENU PRINCIPAL*/

.menu-principal{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 75px;
    padding: 0 30px;
    margin-top: 10px;
    background: var(--background-color);
    z-index: 1; /*como se visualiza (capas)*/
}

.logo img{
    width: 130px;
    cursor: pointer;
}

.barra-menu{
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.barra-menu .enlaces ul li{
    display: inline-block;
    padding: 0 10px;
}

.barra-menu .enlaces ul li a{
    font-size: 14px;
    text-transform: uppercase;
    text-decoration: none;
    color: var(--text-color);
    font-weight: 600;
    /*línea debajo de enlaces*/
    background: linear-gradient(currentColor,currentColor);
    background-position: 100% 100%;
    background-repeat: no-repeat;
    background-size: 0% 2px;
    transition: all 0.5s;
}

.barra-menu .enlaces ul li a:hover{
    color: var(--color-secundario);
    background-size: 50% 2px;
}

.barra-menu .redes-sociales a{
    font-size: 16px;
    text-transform: uppercase;
    padding: 0 10px;
    font-weight: 700px;
    text-decoration: none;   /*Quita estilos por defecto*/
    color: var(--text-color);
    transition: all 0.3s;
}

.barra-menu .redes-sociales a:hover{
    color: var(--color-secundario);
}

/*Estilos ícono 3 líneas*/
.menu-principal i{
    cursor: pointer;
    color: var(--text-color);
    font-size: 30px;
    float: right;
    transition: all 0.3s;
    display: none;
}

.menu-principal i:hover{
    color: var(--color-secundario);
}

/*SLIDER DE PRODUCTOS*/
#menu-productos .contenedor-principal{
    display: flex;
    align-items: center;
    position: relative;
    z-index: 0;
}

/*Flechas izq y der*/
.contenedor-principal #btn-izq,
.contenedor-principal #btn-der{
    position: absolute;
    height: 10%;
    width: 50px;
    border: none;
    background: transparent;
    cursor:pointer;
    font-size: 40px;
    margin: 0 15px;
    color: var(--color-secundario);
    z-index: 500;
    outline: none;
    transition: all 0.3s;
}

.contenedor-principal #btn-izq:hover,
.contenedor-principal #btn-der:hover{
    background: var(--color-background-sombra);
    transform: translateY(5px);
}

.contenedor-principal #btn-izq{
    left: 0;
}

.contenedor-principal #btn-der{
    right: 0;
}

.slider{
    display: flex;
    overflow: hidden;
    height: calc(100vh-75px);
    scroll-behavior: smooth;
}

.contenedor-productos{
    background-image: url('../IMG/5GpD.gif');
    display: flex;
    justify-content: center;
    align-items: center;
    flex-basis: 100%;  /*tamaño base*/
    flex-shrink: 0;
}

.descrip-producto{
   width: 30%;
}

.descrip-producto h1{
    font-size: 5vw;
    font-weight: 600;
    text-transform: uppercase;
}

.descrip-producto h2{
    text-transform: lowercase;
    font-size: 2.2vw;
    font-weight: 100;
}

.descrip-producto p{
    color:var(--text-color);
    font-style: italic;
    text-align: justify;
}

.img-productos{
    width: 50%;
    display: flex;
    justify-content: center;
}

.img-productos img{
    width: 100%;
    transform: scale(1.1);
    transition: all 0.3s;
}

.img-productos img:hover{
    transform: scale(1.15);
}

/*SECCIÓN SERVICIOS*/
#servicios{
    height: 100vh;
    background: #fff;
    padding: 40px;
}

.servicios-titulos{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.contenedor-servicios{
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 30px; /*separación entre columnas y filas*/
    grid-template-areas: "ingredientes   imagen   rapidez"
                             "calidad     imagen   delivery";
}

.calidad{
    grid-row: calidad;
    grid-column: calidad;
}

.ingredientes{
    grid-row: ingredientes;
    grid-column: ingredientes;
}

.rapidez{
    grid-row: rapidez;
    grid-column: rapidez;
}

.delivery{
    grid-row: delivery;
    grid-column: delivery;
}

.img-central{
    
    grid-row: imagen;
    grid-column: imagen;
    transition: all 0.5s;
}

.img-central:hover{
    transform: scale(1.1);
}

.items{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.items span{
    width: 95px;
    font-size: 40px;
    color: var(--color-secundario);
    padding: 20px;
    border: 5px double #dedede;
    border-radius: 50%;
    transition: all 0.5s;
}

.items span:hover{
    background: var(--color-secundario);
    color: #fff;
}

.ingredientes span,
.calidad span{
    color: var(--color-primario);
}

.ingredientes span:hover,
.calidad span:hover{
    color: #fff;
    background: var(--color-primario);
}

.items .titulo-item{
    text-transform: uppercase;
    font-size: 15px;
    font-weight: 700;
    text-align: center;
    padding: 10px;
}

.items .texto-item{
    font-size: 14px;
    color: var(--text-color);
    text-align: center;
    font-style: italic;
    padding: 0 20px;
}

/*SECCIÓN EQUIPO*/
#equipo{
    height: 100vh;
    display: flex;
}

.persona{
    flex-grow: 1;
    overflow: hidden;
    position: relative;
    transition: all 0.5s;
}

.persona-imagen{
    height: 100%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    filter: grayscale(80%);  /*blanco y negro*/
}

.persona:hover{
    flex-grow: 3;
}

.persona:hover .persona-imagen{
    filter: grayscale(0%);
}

.persona-info{
    position: absolute;
    bottom: 10px;
    width: 100%;
    text-align: center;
    opacity: 0; /*ocultar texto*/
    transition: all 0.1s;
}

.persona:hover .persona-info{
    opacity: 1;
    bottom: 60px;
    transition-delay: 0.3s;
}

.persona-info h2{
    font-size: 30px;
    font-weight: 600;
    color: #000;
    text-shadow: 2px 2px 3px rgba(0,0,0,0.5);
}

.persona-info p{
    color: var(--color-secundario);
    font-size: 20px;
    font-weight: 700;
    font-style: italic;
    margin-top: 8px;
    margin-bottom: 20px;
    text-shadow: 2px 2px 3px rgba(255,0,0,0.5);
}

.persona-info .redes-sociales a{
    display: inline-block;
    width: 40px;
    height: 40px;
    color: #fff;
    background-color: var(--color-secundario);
    line-height: 40px; /*centrar*/
    border-radius: 50%;
    margin: 0 5px;
    font-size: 18px;
    cursor: pointer;
    transition: all 0.5s;
}

.redes-sociales a:hover{
    color: var(--color-secundario);
    background: transparent;
    transform: scale(2);
}

/*SECCIÓN INGREDIENTES*/
#ingredientes{
    display: flex;
    justify-content: center;
    align-items: center;
}

.contenedor-ingre{
    flex-grow: 1;
    overflow: hidden;
    position: relative;
    height: 250px;
}

.img-ingre{
    position: absolute;
    height: 100%;
    left: 50%;
    transform: translate(-50%);
}

.info{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
    transition: all 0.3s;
}

.info p{
    font-size: 28px;
    color: #fff;
    font-weight: 600;
    transition: all 0.3s;
}

.info:hover{
    background: rgba(0,0,0,0.25);
}

.info:hover p{
    transform: translateY(10px);
}

/*CONTACTO*/
#contacto{
    height: 100vh;
    padding: 60px;
    position: relative;
}

#formulario{
    width: 70%;
    margin: 50px auto;
}

.two-fields{
    display: flex;
    justify-content: space-between;
}

.input-text, .input-email, .textarea{
    border: 1px solid #b4b4b4;
    background: #fff;
    color: #888;
    outline: none;
    padding: 15px 60px;
    height: 45px;
    font-size: 16px;
    margin-bottom: 20px;
    transition: all 0.5s;
}

.textarea{
    width: 100%;
    height: 150px;
    resize: none;
}

.input-text, .input-email{
    width: 100%;
}

.input-icono{
    position: relative;
    width: 48%;
}

.input-icono i{
    position: absolute;
    left: 0px;
    padding: 14px 15px;
    background: #888;
    transition: all 0.5s;
}

.textarea-icono{
    width: 100%;
}

.textarea-icono i{
    background: transparent;
    color: #888;
    padding: 0px;
    font-size: 25px;
    left: 17px;
    top: 13px;
    transition: all 0.5s;
}

.input-icono input:focus,
.input-icono textarea:focus{
    border: 1px solid var(--color-primario);
}

.input-icono input:focus + i{
    background: var(--color-primario);
}

.input-icono textarea:focus + i{
    color: var(--color-primario);
}

.field-btn{
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.btn-input{
    padding: 15px 50px;
}

.btn-input:hover{
    padding: 15px 65px;
}

/*ALERTAS*/
.alertas{
    display: flex;
    justify-content: center;
    align-items: center;
}

.alert{
    width: 60%;
    padding: 20px 60px;
    position: fixed;
    top: 0px;
    transition: all 0.5s;
}

.alert .icono-alert{
    position: absolute;
    left: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 30px;
}

.alert.show{
    transform: translateY(50%);
}

.alert.hide{
    transform: translateY(-100%);
}

.alert .msg{
    padding: 0 20px;
    font-size: 18px;
}

#alerta-error{
    background: #f8d7da;
    border-right: 4px solid #da3748;
}

#alerta-error .icono-alert{
    color: #da3748;
}

#alerta-error .msg{
    color: #721c24;
}

#alerta-correcto{
    background: #d4edda;
    border-right: 4px solid #279e43;
}

#alerta-correcto .icono-alert{
    color: #279e43;
}

#alerta-correcto .msg{
    color: #155724;
}

/*FOOTER*/

footer{
    display: flex;
    margin-top: -60px;
}

.sociales-metodo{
    width: 25%;
    height: 100px;
    background: #333;
    color: #fff;
    position: relative;
    text-align: center;
    overflow: hidden;
}

.sociales-metodo i{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    font-size: 30px;
    line-height: 100px; /*centrar*/
    transition: all 0.5s;
}

.sociales-metodo span{
    position: absolute;
    width: 100%;
    left: 0px;
    bottom: 0px;
    padding: 10px 0;
    font-size: 12px;
    background: var(--color-primario);
    letter-spacing: 1px;
    font-weight: 700;
    transform: translateY(60px);
    transition: all 0.5s;
}

.sociales-metodo i:hover + span{
    transform: translateY(0px);
}

.sociales-metodo i:hover{
    transform: translateY(-20px);
}

/*Botón IR ARRIBA*/
#btn-top{
    width: 50px;
    height: 50px;
    background-color: var(--color-primario);
    cursor: pointer;
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1;
    transform: translateY(200%);
    transition: all 0.5s;
}

#btn-top.show{
    transform:translateY(0);
}

#btn-top.final{
    transform: translateY(-250%);
}

#btn-top span{
    color: white;
    font-size: 25px;
    width: 100%;
    text-align: center;
    line-height: 50px;
    transition: all 0.5s;
}

#btn-top:hover{
    background: #d89127;
}

#btn-top:hover span{
    transform: translateY(-3px);
}

/*CONOCENOS*/

.form{
	position:relative;
	width:500px;
	height:700px;
	padding-left: 20px;
	padding-top: 15px;
	background-color: #e5dfcd;
	background-position: center;
	border-radius: 20px;
	margin:auto;
}
body{
	
	width: 100%;
	height: 60vh;
	background-size: cover;

}
input[type=text],[type=email]{
	width:470px;
	height:35px;
	font: 14px normal uppercase helvetica,arial,serif;
}
textarea{
	width: 470px;
	height: 110px;
	font: 14px normal uppercase helvetica,arial,serif;
}
input[type=submit]{
	position: relative;
	width: 150px;
	height: 40px;
	border-radius: 20px;
	margin-left:150px;
	border:0px;
	background-color:#32A43E;
	font: 14px normal uppercase helvetica,arial,serif;
}
p{
	text-shadow:0 1px 0 #fff;
	font-size: 24px;
}
label{
	margin:11px 20px 0 0;
	font-size: 16px;
	color: #b3aba1;
	text-transform: uppercase;
	text-shadow: 0px 1px 0px #fff;
}

/*RESPONSIVE DESIGN MEDIA QUERY*/

@media screen and (max-width: 850px){
    /*SLIDER PRODUCTOS*/
    .contenedor-productos{
        flex-direction: column;
        height: 100vh;
    }

    .descrip-producto{
        width: 70%;
        order: 1;
    }

    .descrip-producto .btn{
        padding: 10px 20px;
    }

    .descrip-producto .btn:hover{
        padding: 10px 30px;
    }

    /*SECCIÓN SERVICIOS*/
    .contenedor-servicios{
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas: "ingredientes rapidez"
                              "  calidad   delivery";
    }

    .img-central{
        display: none;
    }
}


@media screen and (max-width: 650px){
    /*MENÚ PRINCIPAL*/
    .menu-principal{
        position: fixed; /*fijo*/
        top: 0;          /*en la parte superior*/
        margin-top: 0;
    }

    .menu-principal i{     /*desplegar íconos*/
        display: block;
    }

    .barra-menu{
        justify-content: space-around;
        align-items: center;
        flex-direction: column;
        width: 100%;
        height: 100vh;
        position: fixed; /*ocupa toda la pantalla*/
        right: 0;  
        top: 0;
        z-index: 1000;
        background: #333;
        transition: all 1s;
        transform: translateX(100%);
    }

    .barra-menu.active{  /*despliegue de menú*/
        transform: translateX(0%);
    }

    .barra-menu .enlaces ul li{
        display: block; /*uno abajo de otro*/
        padding: 20px 10px;
        text-align: center;
    }

    .barra-menu .enlaces ul li a,
    .barra-menu .redes-sociales a{
        font-size: 20px;
    }

    .barra-menu i{
        /*esquina sup. der.*/
        position: absolute;
        right: 50px;
        top: 50px;
    }

    /* SLIDER PRODUCTOS */
    .slider{
        height: calc(100vh - 0px);
   }
   .imagen-productos{
        width: 65%;
   }

   .descripcion-productos h1{
        font-size: 7vw;
   }

   .descripcion-productos h2{
        font-size: 3vw;
   }

   /*INGREDIENTES*/
   .info .ingrediente{
       display: none;
   }

   /*CONTACTO*/
   #formulario{
       width: 100%;
   }

   .two-fields{
       flex-direction: column;
   }

   .input-icono{
       width: 100%;
   }

   /*ALERTAS*/
   .alert{
       width: 100%;
   }

   .alert.show{
       transform: translateY(150%);
   }

   /*FOOTER*/
   footer{
       flex-wrap: wrap;
       margin-top: 20px;
   }

   .sociales-metodo{
       width: 50%;
   }

   /*BOTÓN IR ARRIBA*/
   #btn-top{
       display: none;
   }
}